/*##################################################
    DEVELOPER: CODY L. WARD
##################################################*/

// VARIABLE IMPORT
@import '_variables';

html, body, {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: $graphxGray;
}
p, h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1 {
    margin: 0px 10px;
    padding: 20px 0px;
    font-size: 1.2em;
    font-weight: 100;
}
body {background: $graphxGray;}
button:focus {outline:0;}

// CUSTOM HELPER CLASSES
.wrapper {
    min-height: calc(100% - 100px);
    height: auto;
    width: 1000px;
    margin: 0px auto;
    display: block;
    background: white;
    overflow: hidden;
}
.box {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}

//HEADER
.header {
    height: 100px;
    width: auto;
    background: $graphxGold;
    padding: 10px;
    img {
        height: 100%;
        max-height: 100px;
        width: auto;
        margin: 0px auto;
        display: block;
    }
    
}

// MAIN CONTENT
.heading-box, 
.results-box {
    height: auto;
    width: 100%;
    padding: 20px 10px;
    background: #EEEEEE;
    text-align: center;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}
.results-box {
    padding: 0px !important;
}
.results-content {
    margin: 10px;
    overflow-x: scroll !important;
}
.input-section {
    padding: 20px 0px;
    margin: 0px auto;
    input[type="text"] {
        position: relative;
        display: block;
        margin: 0px auto;
        color: $graphxGray;
        height: 40px;
        width: 300px;
        padding: 0px 0px 0px 10px;
        border: 2px solid #DDDDDD;
        font-size: 1.5em;
        -webkit-appearance:none; //Removes inner shadow in Safari
        &:focus {outline: 0px;}
    }
    input[type="button"]{
        height: 40px;
        margin: 0px auto;
        padding: 2px 20px;
        border: 2px solid $graphxGray !important;
        background: #EEEEEE;
        border: none;
        position: relative;
        display: block;
        font-size: 1.5em;
        color: $graphxGray;
        background: $graphxGold;
        -webkit-appearance:none; //Removes glossy effect in Safari
        &:hover {
            cursor: pointer;
        }
        &:focus {outline: 0px;}
    }
}

// INPUT STYLES
.input-style,
.input-reverse,
.input-true,
.input-false {
    padding: 5px 5px;
    color: white;
    background: $graphxGold;
    line-height: 36px;
}
.input-style{color: $graphxGray;}
.input-reverse {background: $graphxGray;}
.input-true {background: $green500;}
.input-false{background: $red500;}

//CODEPEN SECTION
.codepen-box {padding: 0px 40px 20px 40px;}

//THANK YOU SECTION
.thank-you {
    height: auto;
    width: 100%;
    float: left;
    ul {
        padding: 0px;
        padding: 50px 0px;
    }
    li {
        text-align: center;
        list-style: none;
    }
}
//FOOTER
.footer {
    height: 50px;
    width: 100%;
    background: $graphxGold;
    line-height: 50px;
    text-align: center;
    float: left;
}
/*##################################################
    404 Page Styling
##################################################*/
.error-page{
    height: 100%;
    width: 100%;
    background: $graphxGold;
    h1 {
        color: $graphxGray !important;
        font-size: 2em;
    }
    p {color: $graphxGray !important;}
}
.return-button {
    background: $graphxGray;
    color: white;
    height: 40px;
    width: 100px;
    text-align: center;
    padding: 0px 20px;
    display: block;
    margin: 20px auto;
    text-decoration: none;
    line-height: 40px;
}
/*##################################################
    MEDIA QUERIES
##################################################*/
@media screen and (max-width: 1000px) {
    .wrapper {width: 80%;}
    
    .header {
        height: 60px;
        padding: 5px;
        img {height: 60px;}
    }
    .intro-box, 
    .results-box {
        min-height: 40px;
        height: auto;
        padding: 20px;
        p {
            padding: 0px;
            margin: 0px;
        }
    }
    .codepen-box {padding: 0px 10px 20px 10px;}
    .input-section {
        width: 80%;
        display: block;
        margin: 0px auto;
        input[type="text"] {
            width: 80%;
            font-size: 1.2em;
          
        }
    }
    .footer {
        width: 100%;
        position: relative;
        font-size: 0.9em;
    }
}
